name: CI

on:
  push:
  schedule:
    - cron: "0 0 * * *"

jobs:
  docker-compose:
    name: docker-compose (production container)
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: blacksmith docker
        uses: useblacksmith/setup-docker-builder@v1
      - name: docker build / start
        env:
          DOCKER_BUILDKIT: 1
          COMPOSE_DOCKER_CLI_BUILD: 1
        run: |
          docker compose -f docker-compose.ci.yml build --build-arg BUILDKIT_INLINE_CACHE=1
          docker compose -f docker-compose.ci.yml up -d --wait --wait-timeout 30
      - name: wait for nginx
        run: while ! nc -z localhost 443; do sleep 0.1; done
      - name: ping
        run: curl --insecure https://localhost/ping -vvv
      - name: docker stop
        run: docker compose -f docker-compose.ci.yml stop
  php83:
    name: PHP 8.3
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: composer test
        uses: docker://ghcr.io/chubbyphp/ci-php83:latest
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
  php84:
    name: PHP 8.4
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: composer test
        uses: docker://ghcr.io/chubbyphp/ci-php84:latest
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
  php85:
    name: PHP 8.5
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: composer test
        uses: docker://ghcr.io/chubbyphp/ci-php85:latest
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
      - name: sonarcloud.io
        uses: sonarsource/sonarqube-scan-action@v6.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
